<a href="https://colab.research.google.com/github/NancySM/Laravel-APIs-RESTful-y-webs-Angular/blob/master/Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyodbc
import matplotlib.pyplot as plt

Collecting pyodbc
  Downloading pyodbc-4.0.31.tar.gz (280 kB)
     |████████████████████████████████| 280 kB 7.7 MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.31-cp37-cp37m-linux_x86_64.whl size=286873 sha256=eccad2adcd8d7946451c138f4f56b2fc5e24e71b1f4856c0bbff5c93dfc48cc3
  Stored in directory: /root/.cache/pip/wheels/b6/90/83/0d14028dd261d703154631f91543fbadae0e5e7247501489d9
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.31

In [2]:
import pandas as pd

In [3]:
import pyodbc

In [4]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

OK
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://packages.microsoft.com/ubuntu/16.04/prod xenial InRelease [4,003 B]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:11 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:12 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 Packages [246 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:14 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,294 kB]
Hit:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:18 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.4 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,421 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [575 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [543 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,792 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,729 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,196 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [917 kB]
Fetched 13.0 MB in 4s (3,628 kB/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc-dev
4 upgraded, 2 newly installed, 0 to remove and 50 not upgraded.
Need to get 1,458 kB of archives.
After this operation, 152 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst amd64 2.3.7 [12.0 kB]
Get:2 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc-dev amd64 2.3.7 [37.1 kB]
Get:3 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst1debian2 amd64 2.3.7 [135 kB]
Get:4 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 libodbc1 amd64 2.3.7 [511 kB]
Get:5 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc amd64 2.3.7 [19.6 kB]
Get:6 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 msodbcsql17 amd64 17.8.1.1-1 [744 kB]
Fetched 1,458 kB in 0s (4,408 kB/s)
(Reading database ... 148486 files and directories currently installed.)
Preparing to unpack .../0-odbcinst_2.3.7_amd64.deb ...
Unpacking odbcinst (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../1-unixodbc-dev_2.3.7_amd64.deb ...
Unpacking unixodbc-dev (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../2-odbcinst1debian2_2.3.7_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../3-libodbc1_2.3.7_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../4-unixodbc_2.3.7_amd64.deb ...
Unpacking unixodbc (2.3.7) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../5-msodbcsql17_17.8.1.1-1_amd64.deb ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Unpacking msodbcsql17 (17.8.1.1-1) ...
Setting up libodbc1:amd64 (2.3.7) ...
Setting up odbcinst1debian2:amd64 (2.3.7) ...
Setting up odbcinst (2.3.7) ...
Setting up unixodbc (2.3.7) ...
Setting up unixodbc-dev (2.3.7) ...
Setting up msodbcsql17 (17.8.1.1-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key output should not be parsed (stdout is not a terminal)
100   983  100   983    0     0   2987      0 --:--:-- --:--:-- --:--:--  2978
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    79  100    79    0     0   1000      0 --:--:-- --:--:-- --:--:--  1000
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 6.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:

In [5]:
server = '204.236.212.83' 
database = 'SOFOMFINFERSADB_DEV' 
username = 'usrFinFutura' 
password = 'usrFinFutura*2020' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [6]:
query = "SELECT id_solicitud, cliente.id_cliente, cliente.fecha_nacimiento AS 'Fecha_nacimiento', grp.nombre AS 'Grupo', subgrp.nombre AS 'SubGrupo', prod.producto AS 'Producto', monto_solicitado,monto_autorizado, nivel_socioeconomico_nivel, nivel_socioeconomico_casa, nivel_socioeconomico_caracteristicas, nivel_socioeconomico_menaje, nivel_socio_economico_domicilio, bienes_patrimoniales_muebles, bienes_patrimoniales_inmuebles, bienes_patrimoniales_cuenta, bienes_patrimoniales_TC, bienes_patrimoniales_Cred, tipcasa.descripcion AS 'Tipo casa', cliente_antiguedad, nivelrsg.descripcion AS 'NivelRiesgo', per.descripcion AS 'Personalidad', sexo.descripcion AS 'Sexo', aca.descripcion AS 'Nivel academico', cliente_profesion_antiguedad, cliente_profesion_id_rol_laboral, cliente_ingresos_sueldo,cliente_ingresos_otros, cliente_ingresos_total, egresos_renta_hipoteca, egresos_servicios, egresos_alimentacion,egresos_transporte, egresos_escuela, egresos_ropa, egresos_entretenimiento, egresos_deudas FROM CREDITO.Solicitud sol INNER JOIN GENERAL.Grupo grp ON sol.id_grupo = grp.id_grupo INNER JOIN GENERAL.Subgrupo subgrp ON sol.id_sub_grupo = subgrp.id_subgrupo INNER JOIN GENERAL.Producto prod ON sol.id_producto = prod.id_producto INNER JOIN GENERAL.TipoCasa tipcasa ON sol.cliente_id_tipo_casa = tipcasa.id_tipo_casa INNER JOIN GENERAL.NivelRiesgo nivelrsg ON sol.cliente_id_nivel_riesgo= nivelrsg.id_nivel_riesgo INNER JOIN GENERAL.Personalidad per ON sol.cliente_id_personalidad = per.id_personalidad INNER JOIN GENERAL.Sexo sexo ON sol.cliente_id_sexo = sexo.id_sexo INNER JOIN GENERAL.NivelAcademico aca ON sol.cliente_id_nivel_academico = aca.id_nivel_academico INNER JOIN CLIENTE.Cliente cliente ON sol.id_cliente = cliente.id_cliente"
df= pd.read_sql_query(query, cnxn)
df.head()

   id_solicitud  id_cliente  ... egresos_entretenimiento egresos_deudas
0             4           4  ...                     0.0          400.0
1            11          11  ...                   100.0            0.0
2          1003           4  ...                     0.0          400.0
3          1004        1003  ...                     0.0            0.0
4          1005        1004  ...                     0.0          500.0

[5 rows x 37 columns]

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
#Converting a single column into a different type
df['id_solicitud'] = df['id_solicitud'].astype('object')
df['id_cliente'] = df['id_cliente'].astype('object')
df['Tipo casa'] = df['Tipo casa'].astype('category')
df['Tipo casa'] = df['Tipo casa'].astype('category')
df['Grupo'] = df['Grupo'].astype('category') 
df['SubGrupo'] = df['SubGrupo'].astype('category')      
df['Producto'] = df['Producto'].astype('category')      
df['nivel_socioeconomico_nivel'] = df['nivel_socioeconomico_nivel'].astype('category')             
df['nivel_socioeconomico_casa'] = df['nivel_socioeconomico_casa'].astype('category')   
df['nivel_socioeconomico_caracteristicas'] = df['nivel_socioeconomico_caracteristicas'].astype('category')     
df['nivel_socioeconomico_menaje'] = df['nivel_socioeconomico_menaje'].astype('category')    
df['nivel_socio_economico_domicilio'] = df['nivel_socio_economico_domicilio'].astype('category')  
df['bienes_patrimoniales_muebles'] = df['bienes_patrimoniales_muebles'].astype('category')        
df['NivelRiesgo'] = df['NivelRiesgo'].astype('category') 
df['Personalidad'] = df['Personalidad'].astype('category')
df['Sexo'] = df['Sexo'].astype('category') 
df['Nivel academico'] = df['Nivel academico'].astype('category')
df['bienes_patrimoniales_inmuebles'] = df['bienes_patrimoniales_inmuebles'].astype('float64')
df['bienes_patrimoniales_cuenta'] = df['bienes_patrimoniales_cuenta'].astype('float64')
df['bienes_patrimoniales_TC'] = df['bienes_patrimoniales_TC'].astype('float64')
df['bienes_patrimoniales_TC'] = df['bienes_patrimoniales_TC'].astype('float64')
df['bienes_patrimoniales_Cred '] = df['bienes_patrimoniales_Cred'].astype('float64')
#df['cliente_profesion_antiguedad'] = df['float64'].astype('object')
#df['cliente_antiguedad'] = df['cliente_antiguedad'].astype('object')

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
868    False
869    False
870    False
871    False
872    False
Length: 873, dtype: bool

# ANALÍSIS EXPLORATORIO DE LOS DATOS

In [10]:
df.isna().sum()

id_solicitud                             0
id_cliente                               0
Fecha_nacimiento                         0
Grupo                                    0
SubGrupo                                 0
Producto                                 0
monto_solicitado                         0
monto_autorizado                         0
nivel_socioeconomico_nivel              34
nivel_socioeconomico_casa               41
nivel_socioeconomico_caracteristicas    37
nivel_socioeconomico_menaje             41
nivel_socio_economico_domicilio         37
bienes_patrimoniales_muebles            28
bienes_patrimoniales_inmuebles          28
bienes_patrimoniales_cuenta             31
bienes_patrimoniales_TC                 34
bienes_patrimoniales_Cred               37
Tipo casa                                0
cliente_antiguedad                       0
NivelRiesgo                              0
Personalidad                             0
Sexo                                     0
Nivel academico                          0
cliente_profesion_antiguedad             7
cliente_profesion_id_rol_laboral        18
cliente_ingresos_sueldo                  0
cliente_ingresos_otros                   0
cliente_ingresos_total                   0
egresos_renta_hipoteca                   0
egresos_servicios                        0
egresos_alimentacion                     0
egresos_transporte                       0
egresos_escuela                          0
egresos_ropa                             0
egresos_entretenimiento                  0
egresos_deudas                           0
bienes_patrimoniales_Cred               37
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 38 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_solicitud                          873 non-null    object
 1   id_cliente                            873 non-null    object
 2   Fecha_nacimiento                      873 non-null    datetime64[ns]
 3   Grupo                                 873 non-null    category
 4   SubGrupo                              873 non-null    category
 5   Producto                              873 non-null    category
 6   monto_solicitado                      873 non-null    float64
 7   monto_autorizado                      873 non-null    float64
 8   nivel_socioeconomico_nivel            839 non-null    category
 9   nivel_socioeconomico_casa             832 non-null    category
 10  nivel_socioeconomico_caracteristicas  836 non-null    category
 11  nivel_socioeconomico_menaje           832 non-null    category
 12  nivel_socio_economico_domicilio       836 non-null    category
 13  bienes_patrimoniales_muebles          845 non-null    category
 14  bienes_patrimoniales_inmuebles        845 non-null    float64
 15  bienes_patrimoniales_cuenta           842 non-null    float64
 16  bienes_patrimoniales_TC               839 non-null    float64
 17  bienes_patrimoniales_Cred             836 non-null    object
 18  Tipo casa                             873 non-null    category
 19  cliente_antiguedad                    873 non-null    object
 20  NivelRiesgo                           873 non-null    category
 21  Personalidad                          873 non-null    category
 22  Sexo                                  873 non-null    category
 23  Nivel academico                       873 non-null    category
 24  cliente_profesion_antiguedad          866 non-null    object
 25  cliente_profesion_id_rol_laboral      855 non-null    float64
 26  cliente_ingresos_sueldo               873 non-null    float64
 27  cliente_ingresos_otros                873 non-null    float64
 28  cliente_ingresos_total                873 non-null    float64
 29  egresos_renta_hipoteca                873 non-null    float64
 30  egresos_servicios                     873 non-null    float64
 31  egresos_alimentacion                  873 non-null    float64
 32  egresos_transporte                    873 non-null    float64
 33  egresos_escuela                       873 non-null    float64
 34  egresos_ropa                          873 non-null    float64
 35  egresos_entretenimiento               873 non-null    float64
 36  egresos_deudas                        873 non-null    float64
 37  bienes_patrimoniales_Cred             836 non-null    float64
dtypes: category(14), datetime64[ns](1), float64(18), object(5)
memory usage: 181.3+ KB

In [12]:
#for loop that will iterate through the categorical columns
for col_name in ['NivelRiesgo', 'Personalidad', 'Sexo', 'Nivel academico']:
    print(col_name)
    print(df[col_name].cat.categories)

NivelRiesgo
Index(['Bajo', 'Medio'], dtype='object')
Personalidad
Index(['Confiable', 'No especificada'], dtype='object')
Sexo
Index(['FEMENINO', 'MASCULINO', 'No Aplica'], dtype='object')
Nivel academico
Index(['BACHILLERATO', 'BACHILLERATO TECNOLÓGICO', 'EDUCACION PRIMARIA',
       'EDUCACION SECUNDARIA', 'ESPECIALIDAD', 'LICENCIATURA', 'MAESTRIA',
       'PREPARATORIA', 'TÉCNICO SUPERIOR UNIVERSITARIO'],
      dtype='object')

In [26]:
from datetime import datetime, date 
dob = df['Fecha_nacimiento']
  
fecha = pd.DataFrame(data = dob) 
  
def age(born): 
   # born = datetime.strptime(born, '%Y-%m-%d %H:%M:%S').date() 
    today = date.today() 
    return today.year - born.year - ((today.month,  
                                      today.day) <(born.month,  
                                                    born.day)) 
  
fecha['Age'] = fecha['Fecha_nacimiento'].apply(age)
display(fecha)

    Fecha_nacimiento  Age
0         1990-09-08   30
1         1993-10-13   27
2         1990-09-08   30
3         1990-10-20   30
4         1987-09-03   33
..               ...  ...
868       1989-07-22   32
869       1992-10-09   28
870       1974-08-02   47
871       1939-04-05   82
872       1950-12-02   70

[873 rows x 2 columns]

In [ ]:
#Cambiar el tamaño del gráfico
plt.figure(figsize= (20,10))
#Muestra las correlaciones que hay entre cada variable entre 0 y 1
sns.heatmap(consulta.corr().abs(), annot=True)

In [ ]:
corr = consulta.corr().abs()

In [ ]:
corr

In [ ]:
corr_SP = corr.loc[:,['cliente_ingresos_total']]
corr_SP

In [ ]:
plt.

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(random_state=42,n_clusters=2)

In [ ]:
y_preds = kmeans.predict(X)
y_preds

In [ ]:
#import altair as alt

import numpy as np

In [ ]:
#color = np.array(['#F5F55E','#B8B044','#8F8935','#454219','#D47C1E','#EB2D4F','#621ED4'])
#plt.figure(figsize=(20, 6), dpi=80)
#plt.scatter(x=consulta[['id_nivel_riesgo']], y=y_preds, c=color[y_preds])

In [ ]:
#scatter_plot.encode(x='id_cliente', y='id_localidad', color='cluster:N')

In [ ]:
#fig = plt.figure(figsize=(10,7))
#ax = plt.axes(projection="3d")
#ax.scatter3D(consulta['id_cliente'], consulta['id_localidad'], consulta['id_nivel_riesgo'], c=y_preds, cmap='tab10')
#plt.title('Client Clusters')
#ax.set_xlabel('id_cliente')
#ax.set_ylabel('id_localidad')
#ax.set_zlabel('antiguedad')
#plt.show()